.news-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px 60px;
    flex-direction: column;
    /* height: 400px; */
  }
  
  .banner {
    width: 95%;
    height: 280px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiK0OAIJBco2yTUCt2TatP9PFJ5AD3_g09xb27LQxmWfklnEeFlFtYPFFeNmsyFCizzzY&usqp=CAU'); /* Replace with the actual image path */
    background-size: contain;

   
  }
  


/* Heading Styles */
.news-container h1 {
  color: #2c3e50;
  
  font-size: 24px;
  margin-bottom: 20px;
}

/* Paragraph Styles */
.news-container  p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* Subheadings */
.news-container h3 {
  color: #27ae60;
  margin-top: 20px;
}

/* List Styles */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

ul li:before {
  content: "✔";
  color: #27ae60;
  font-weight: bold;
  margin-right: 10px;
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #7f8c8d;
  font-weight: bold;
}
